<section class="todoapp">
	<header class="header">
		<h1>todos</h1>
		<input class="new-todo" placeholder="make a new list" autofocus="">
	</header>

	<section class="main" style="display: block;">
		<input class="toggle-all" type="checkbox">

    <ul class="todo-list">
      <li class="">
        <div class="view">
          <label><a href="#">test list #1</a></label>
        </div>
      </li>

      <li class="">
        <div class="view">
          <label><a href="#">test list #2</a></label>
        </div>
      </li>

      <li class="">
        <div class="view">
          <label><a href="#">test list #3</a></label>
        </div>
      </li>

      <li class="">
        <div class="view">
          <label><a href="#">test list #4</a></label>
        </div>
      </li>
    </ul>
	</section>

	<footer class="footer" style="display: block;">
		<span class="todo-count"><strong>4</strong> lists</span>
	</footer>
</section>
